@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2ebe3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #742119;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 50vh;
}

.mirror-effect::after {
  content: attr(data-text);
  display: block;
  transform: scaleY(-1);
  opacity: 0.5;
  margin-top: 4px;
  background: linear-gradient(to bottom, transparent 0%, white 70%);
}

.box {
  font-size: 5em;
  padding: 20px;
  color: white;
  font-weight: 800;
}
#box1::after {
  content: "Design, Develop, Deliver";
  display: flex;
  transform: rotateX(180deg);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0.5)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.img-shadow {
  position: relative;
  display: inline-block;
}

.img-shadow::after {
  content: "";
  position: absolute;
  top: calc(100% + 30px); /* Position it 20px below the image */
  left: 10%; /* Adjust for shadow width */
  right: 10%; /* Adjust for shadow width */
  height: 10px; /* Height of the shadow, adjust as needed */
  border-radius: 100%;
  --tw-blur: blur(24px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  z-index: -1;
}

.text-stroke {
  -webkit-text-stroke: 2px #742119;
}

.fill-text {
  color: #742119;
}

/* CSS */
.mobile,
.desktop,
.tablet,
.phablet {
  display: none; /* By default, all are hidden */
}

/* Mobile-first approach */
@media (max-width: 480px) {
  .mobile {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 745px) {
  .phablet {
    display: block;
  }
}
@media (min-width: 746px) and (max-width: 1024px) {
  .tablet {
    display: block;
  }
}

@media (min-width: 1025px) {
  .desktop {
    display: block;
  }
}
